.row {
    padding: 8px;
    border-radius: 25px;
  }

  td {
    padding-left: 30px;
    padding-right: 30px;
    font-style: oblique;
    text-align: center;
  }

  .modeButtons {
    margin-right: 10px;
  }

  .addButton {
    background-color: green;
    margin-top: 10px;
    width: 210px;
  }

  .deleteButton {
    background-color: red;
    width: 100px;
    height: 60px;
  }

  .editButton {
    background-color: #FFBD33;
    width: 100px;
    height: 60px;
  }

  .saveButton {
    width: 210px;
    height: 60px;

    background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #3399ff, #cc66ff);
      background-size: 600% 600%;
      animation: rainbowEffect 5s ease infinite;
      padding: 10px 20px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 30px;
  }

  .tdStyle {
    border: 1px solid #8B8B8B;
    background-color: #404040;
    border-radius: 2px;
  }
  
  .userImg {
    max-width: 60px;
  }

  .tableHeader {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @keyframes rainbowEffect {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }